{% extends 'base-registration.html' %}

{% block title %}Assessments Overview | Seawatch Registration{% endblock %}

{% block content %}
    <h1>Assessments</h1>


    <table class="table table-hover">
        {% if pending_profiles %}
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Requested Positions</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in pending_profiles %}
            <tr onclick="window.location='{{ profile.pk }}/';">
                <td>{{ profile.pk }}</td>
                <td>{{ profile.first_name }}</td>
                <td>{{ profile.last_name }}</td>
                <td>
                    {% for position in profile.requested_positions.all %}
                    {{ position.name }}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <p>There are no pending assessments!</p>
        {% endif %}
    </table>

{% endblock %}