{% extends 'base-registration.html' %}
 {% load bootstrap4 %}

 {% block title %}{{ title }} | Seawatch Registration{% endblock %}

 {% block content %}
   <h1>{{ title }}</h1>
   {% if success %}
   <div class="alert alert-success" role="alert">
   {{ success_alert }}
   </div>
   {% endif %}
   {% if error %}
   <div class="alert alert-danger" role="alert">
   {{ error }}
   </div>
   {% endif %}

    <form method="post" enctype="multipart/form-data" id="myForm">
    {% csrf_token %}

    <!--
    {{ formset.management_form }}
     {% for form in formset %}
        {% bootstrap_form form %}
    {% endfor %}
    -->
    
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
          {% for form in formset.forms %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
          <tr>
              <td>{{ form.start_date }}</td>
              <td>{{ form.end_date }}</td>
              <td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    {{ formset.management_form }}

    {% buttons %}
      <button type="submit" class="btn btn-primary">{{submit_button}}</button>
    {% endbuttons %}

  </form>

  {% load static %}
  <script src="{% static 'seawatch_registration/js/jquery.formset.js' %}">
  </script>
  
  <script type="text/javascript">
  $(function() {
      $('#myForm tbody tr').formset({
          prefix: '{{ formset.prefix }}'
      });
  })
  </script>

{% endblock %}