{% extends 'base-registration.html' %}
 {% load bootstrap4 %}
 {% load crispy_forms_tags %}

 {% block title %}{{ title }} | Seawatch Registration{% endblock %}

 {% block content %}
   <h1>{{ title }}</h1>
   {% if success %}
   <div class="alert alert-success" role="alert">
   {{ success_alert }}
   </div>
   {% endif %}
   {% if error %}
   <div class="alert alert-danger" role="alert">
   {{ error }}
   </div>
   {% endif %}

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% load crispy_forms_tags %}
    {% load staticfiles %}

    <style type="text/css">
      .delete-row {
        align-self: center;
      }
    </style>

    {{ formset.management_form|crispy }}

    {% for form in formset.forms %}
      {% for hidden in form.hidden_fields %}
        {{ hidden|as_crispy_field }}
      {% endfor %}
      {% crispy form %}
    {% endfor %}

    {% buttons %}
      <button type="submit" class="btn btn-primary">Next</button>
    {% endbuttons %}
  </form>
    {% load static %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script src="{% static 'seawatch_registration/js/jquery.formset.js' %}">
    </script>
    <script type="text/javascript">
        $('.formset_row-{{ formset.prefix }}').formset({
            addText: 'add another',
            deleteText: 'remove',
            prefix: '{{ formset.prefix }}',
        });
    </script>
    {% endblock %}