{% load bootstrap4 %}
{% load static %}
{% load fontawesome_5 %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'seawatch_registration/css/seawatch_registration.css' %}">
        {% bootstrap_css %}
        {% fontawesome_5_static %}
        <title>{% block title %}Seawatch Registration{% endblock %}</title>
        {% block head %}
        {% endblock %}
        {% bootstrap_javascript jquery="slim" %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            {% include 'partials/messages.html' %}
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <div class="text-center py-3">
                <a href="https://innoq.com">
                    <img src="{% static 'seawatch_registration/images/supported-by-innoq--blue-red.svg' %}" width="113px" height="41px">
                </a>
            </div>
        </footer>
    </body>
</html>
