{% extends 'base-registration.html' %}
 {% load bootstrap4 %}

 {% block title %}{{ title }} | Seawatch Registration{% endblock %}

 {% block content %}
   <h1>{{ view.title }}</h1>
   {% if success %}
   <div class="alert alert-success" role="alert">
   {{ view.success_alert }}
   </div>
   {% endif %}
   {% if error %}
   <div class="alert alert-danger" role="alert">
   {{ error }}
   </div>
   {% endif %}

   <form method="post" enctype="multipart/form-data">
     {% csrf_token %}
     {% bootstrap_form form %}

     {% buttons %}
       <button type="submit" class="btn btn-primary">{{ view.submit_button }}</button>
     {% endbuttons %}
   </form>
 {% endblock %}