{% extends 'base.html' %}
 {% load bootstrap4 %}

 {% block title %}Requested Position | Seawatch Registration{% endblock %}

 {% block content %}
   <h1>Requested Positions</h1>
   {% if success %}
   <div class="alert alert-success" role="alert">
   Reqeusted positions are saved successfully!
   </div>
   {% endif %}
   {% if error %}
   <div class="alert alert-danger" role="alert">
   {{ error }}
   </div>
   {% endif %}

   <form method="post" enctype="multipart/form-data">
     {% csrf_token %}
     {% bootstrap_form form %}

     {% buttons %}
       <button type="submit" class="btn btn-primary">Next</button>
     {% endbuttons %}
   </form>
 {% endblock %}