Django~=2.2
django-bootstrap4~=1.0
django-countries~=5.5
django-fontawesome-5~=1.0
django-heroku~=0.3
django-model-utils~=4.0
dj-database-url~=0.5
flake8~=3.7
gunicorn~=20.0
psycopg2-binary~=2.7
selenium~=3.141
django-modeltranslation~=0.14.2
