{% extends 'base-registration.html' %}
{% load bootstrap4 %}

{% block title %}Personal Information | Seawatch Registration{% endblock %}

{% block content %}
  <h1>Personal Information</h1>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button type="submit" class="btn btn-primary">Next</button>
    {% endbuttons %}
  </form>
  {% load static %}
  <script src="{% static 'seawatch_registration/js/remove_input_type_date.js' %}"></script>
{% endblock %}
