{% extends 'base-registration.html' %}
{% load i18n %}

{% block title %}Assessments Overview | Seawatch Registration{% endblock %}

{% block content %}
    <h1>{% trans "Assessments" %}</h1>
    {% if pending_assessments %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Requested positions" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for assessment in pending_assessments %}
                {% with profile=assessment.profile %}
                    <tr onclick="window.location='{% url 'assessment_update' assessment.pk %}';">
                        <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                        <td>
                            {% for position in profile.requested_positions.all %}
                                {{ position.name }}
                            {% endfor %}
                        </td>
                        <td>{{ assessment.status }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "There are no pending assessments!" %}</p>
    {% endif %}
    {% include 'partials/pagination.html' %}
{% endblock %}