{% extends "base-missions.html" %}



{% block content %}
<h1>Assign volunteers</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Approved Positions</th>
                <th scope="col">Availablities</th>
            </tr>
        </thead>
        <tbody>
            {% for candidate in candidates %}
            <tr>
                <th scope="row"><input type="radio" name="assignee" value="{{candidate.id}}" /></th>
                <td>{{candidate.first_name}} {{candidate.last_name}}</td>
                <td>
                    {% for position in candidate.requested_positions.all %}
                    {{ position.name }}
                    {% endfor %}
                </td>
                <td>
                    {% for availability in candidate.availability_set.all %}
                    <p>{{availability.start_date}} — {{availability.end_date}}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input class="btn btn-primary" type="submit" value="Save">
</form>




{% endblock %}

