{% extends "base-missions.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Assign volunteers" %}</h1>
    <p><strong>{% trans "Mission" %}:</strong> {{ mission.name }}<br>
    <strong>{% trans "Ship" %}:</strong> {{ mission.ship.name }}<br>
    <strong>{% trans "Time period" %}:</strong> {{ mission.start_date }} - {{ mission.end_date }}</p>
    {% if filter %}
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
            <br>
            <br>
        </form>
        <br>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% include "partials/form-errors.html" %}
        {{ form.as_p }}
        {% render_table table %}
        <input class="btn btn-primary" type="submit" value="Save" name="save">
    </form>
{% endblock %}