{% extends 'base-registration.html' %}
{% load bootstrap4 %}

{% block title %}Default Assignment | Seawatch Missions{% endblock %}

{% block content %}
    <h1>Delete default assignment "{{ object.quantity }}x {{ object.position }}" of ship "{{ ship.name }}"</h1>

    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete default assignment "{{ object.quantity }}x {{ object.position }}" of ship "{{ ship.name }}"?</p>
        <input class="btn btn-primary" type="submit" value="Confirm"> <a class="btn btn-primary"href="{% url 'default_assignment_list' ship.id %}" role="button">Cancel</a>
    </form>
{% endblock %}