{% extends "base-missions.html" %}
{% load bootstrap4 %}
{% load fontawesome_5 %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Missions' %}</h1>
{% if object_list %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Period' %}</th>
            <th>{% trans 'Ship' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for mission in object_list %}
        <tr>
            <td>{{ mission.id }}</td>
            <td>{{ mission.name }}</td>
            <td>
                <p>{{ mission.start_date }} — {{ mission.end_date }}</p>
            </td>
            <td>{{ mission.ship.name }}</td>
            <td>
                <a name='edit' href="{% url 'mission_update' mission.id %}" data-toggle="tooltip" title="edit">
                    {% fa5_icon 'edit' 'fas' %}
                </a>
                <a name='assign_volunteer' href="{% url 'mission_detail' mission.id %}" data-toggle="tooltip" title="assign volunteer">
                    {% fa5_icon 'users' 'fas' %}
                </a>
                <a name='delete' class="text-danger" href="{% url 'mission_delete' mission.id %}" data-toggle="tooltip" title="delete">
                    {% fa5_icon 'trash' 'fas' %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>{% trans 'No missions yet.' %}</p>
{% endif %}
<a class="btn btn-primary" href="{% url 'mission_create' %}" role="button">{% fa5_icon 'plus' 'fas' %}</a>
{% endblock %}