{% extends "base-missions.html" %}
{% load bootstrap4 %}
{% load fontawesome_5 %}

{% block content %}
<h1>Missions</h1>
{% if object_list %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Period</th>
            <th>Ship</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for mission in object_list %}
        <tr>
            <td>{{ mission.id }}</td>
            <td>{{ mission.name }}</td>
            <td>
                <p>{{ mission.start_date }} — {{ mission.end_date }}</p>
            </td>
            <td>{{ mission.ship.name }}</td>
            <td>
                <a href="{% url 'mission_update' mission.id %}" data-toggle="tooltip" title="edit">
                    {% fa5_icon 'edit' 'fas' %}
                </a>
                <a href="{% url 'mission_detail' mission.id %}" data-toggle="tooltip" title="assign volunteer">
                    {% fa5_icon 'users' 'fas' %}
                </a>
                <a class="text-danger" href="{% url 'mission_delete' mission.id %}" data-toggle="tooltip" title="delete">
                    {% fa5_icon 'trash' 'fas' %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No missions yet.</p>
{% endif %}
<a class="btn btn-primary" href="{% url 'mission_create' %}" role="button">{% fa5_icon 'plus' 'fas' %}</a>
{% endblock %}