{% extends "base-missions.html" %}
{% load bootstrap4 %}
{% load fontawesome_5 %}


{% block content %}
<h1>{{ object.ship.name }}: Mission ”{{ object.name }}”</h1>
<p>From {{ object.start_date }} to {{ object.end_date }}</p>
<h2>Assignments</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Position</th>
        <th scope="col">Assignment</th>
        <th scope="col">Confirmation</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for assignment in object.assignment_set.all %}
    <tr>
        <td>{{ assignment.position.name }}</td>
        <td>{{ assignment.user.first_name }} {{ assignment.user.last_name }}</td>
        <td>{{ assignment.confirmed }}</td>
        <td>
            <a href="{% url 'assignee' object.id assignment.id %}"  data-toggle="tooltip" title="assign volunteer">
                {% fa5_icon 'user' 'fas' %}
            </a>
            <a class="{% if assignment.email_sent %}disabled{% endif %}" href="{% url 'assignment_mail' object.id assignment.id %}"  data-toggle="tooltip" title="send mission information email">
                {% fa5_icon 'envelope' 'fas' %}
            </a>
            <a class="text-danger" href="{% url 'assignment_delete' object.id assignment.id %}"  data-toggle="tooltip" title="delete">
                {% fa5_icon 'trash' 'fas' %}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'assignment_create' object.id %}" role="button">{% fa5_icon 'plus' 'fas' %}</a>
{% endblock %}